{% extends 'page.html' %} 
{% block page_content %} 
<div class="header">
   <a href="javascript:window.history.go(-1)"><span class="header-left">返回</span></a> 
   <h1>我的推广二维码</h1> 
</div>
<div class="pro-qrcode">
    <div>
        <ul class="tips">
            <li class="m-one">VIP特权：二维码永久有效</li> 
            <li class="m-two">长按以下图片<span class="right-red-arrow">---> </span>保存到手机相册</li> 
        </ul>  
    <div> 
    <div class="wrap-img">
        <img src="{{g.qr_url}}" /> 
    </div> 
</div> 
{% endblock %} 
{% block page_footer %} 
{% endblock %}  
